:root {
  --main-primary-bgcolor: #ffffff;
  --main-color: #ffffff;
  --main-color-black: #363636;
  --main-color-alpha: rgba(255, 255, 255, 0.2);
  --main-basic-color: #eceff1;

  /* basic color */
  --main-black: #000000;
  --main-black7: rgba(0, 0, 0, 0.7);
  --main-black5: rgba(0, 0, 0, 0.5);
  --main-black3: rgba(0, 0, 0, 0.3);
  --main-black1: rgba(0, 0, 0, 0.1);

  /* color css */
  --red-color: #ea6361;
  --yellow-color: #fcb83f;
  --till-green-color: #4cc1c0;
  --dusty-brown-color: #d1ae5e;
  --light-grey-color: #f0f2f4;
}
/* end here */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main-black3);
  opacity: 1; /* Firefox */
  font-size: 18px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--main-black3);
  font-size: 18px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--main-black3);
  font-size: 18px;
}

hr {
  width: 4%;
  height: 3px;
  background: var(--main-black1);
  margin-left: 95px;
  border: transparent;
  border-radius: 2px;
}

button {
  height: 50px;
  padding: 10px 20px;
  border-radius: 2px;
  background: var(--main-black);
  color: var(--main-basic-color);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--main-black);
  margin: 10px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 2px 1px var(--main-black7);
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px var(--main-black7);
}

input {
  height: 50px;
  width: 500px;
  margin-top: 50px;
  padding: 2px 2px 2px 70px;
  border-radius: 25px;
  border: 1px solid var(--main-black1);
  background-image: url("./_Assets/icon_search.png");
  position: relative;
  background-size: 25px;
  background-repeat: no-repeat;
  position: relative;
  background-position: 10px 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

input:focus {
  outline: none;
  border: 1px solid var(--main-black);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav {
  height: 100px;
  width: 100%;
  background-color: var(--main-primary-bgcolor);
  border-bottom: 1px solid var(--main-black1);
  line-height: 80px;
}

.nav > .nav-header {
  display: inline;
  vertical-align: middle;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  color: var(--main-black3);
  padding: 10px;
  vertical-align: middle;
  font-weight: 100;
}

.nav > .nav-header > .nav-title > .nav-span {
  color: var(--main-black5);
  font-weight: 600;
}

.not-found {
  text-align: center;
  margin: 10% 0%;
  font-size: 18px;
  color: var(--main-black3);
}

.cardholder {
  margin: 20px 0px;
}

.cardholder > .card {
  width: 550px;
  height: 100px;
  background-color: #f7f7f7;
  position: relative;
  margin: auto;
  border-right: 3px solid var(--yellow-color);
  padding: 6px;
}

.cardholder > .card > .profileimg {
  float: left;
  height: 88px;
  width: 88px;
  background: black;
  margin-right: 10px;
}

.cardholder > .card > .profiledel {
  text-align: left;
}

.cardholder > .card > .profiledel > .profilename {
  margin: 2px;
  padding: 2px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 60%;
}

.cardholder > .card > .profiledel > .profdel {
  margin: 2px;
  padding: 2px;
  font-size: 12px;
  float: right;
  color: var(--main-black3);
  position: relative;
  top: -30px;
  cursor: pointer;
}
.desc > img {
  float: left;
  height: 20px;
  margin-right: 10px;
}
.desc {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px 0px 0px;
  color: var(--main-black3);
}

.detailedView > .viewCard {
  height: 600px;
  border: 1px solid transparent;
  position: relative;
  margin: 20px auto;
  width: 600px;
}
.detailedView > .viewCard > .back {
  margin: 10px;
  color: var(--main-black3);
  font-size: 12px;
  cursor: pointer;
}

.detailedView > .viewCard > .back > img {
  height: 10px;
  float: left;
}
.detailedView > .viewCard > .back > .backbtn {
  float: left;
  margin-left: 5px;
}
.detailedView > .viewCard > .pmdata {
  height: 200px;
  background: #f7f7f7;
  width: 425px;
  position: relative;
  margin: 120px auto 0px auto;
  border-bottom: 3px solid var(--yellow-color);
}
.detailedView > .viewCard > .pmdata > img {
  height: 110px;
  position: relative;
  top: -52px;
}
.detailedView > .viewCard > .pmdata > hr {
  margin-left: auto;
  width: 5%;
  position: relative;
  top: -10px;
}
.detailedView > .viewCard > .pmdata > .userName {
  font-size: 18px;
  position: relative;
  font-weight: 600;
  top: -25px;
}

.detailedView > .viewCard > .pmdata > .userLocation {
  font-size: 14px;
  color: var(--main-black3);
}
.datatable {
  height: 200px;
  width: 275px;
  position: relative;
  margin: 15px auto 0px auto;
  font-size: 14px;
  color: var(--main-black3);
  padding: 20px;
}
.datatable > tbody > tr {
  display: inherit;
}
.datatable > tbody > tr > td {
  text-align: left;
  padding: 5px 10px;
}
